.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #16213e;
}

.closeContainer {
  position: absolute;
  right: 0;
  z-index: 9999;
}

.subContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 34px;
  letter-spacing: 0.25px;
  color: rgba(255, 255, 255, 0.87);
}

.loaderContainer {
  margin-top: 36px;
  display: flex;
  justify-content: center;
}
